[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/url_shortener
ExecStart=/root/apps/url_shortener/url_shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/url_shortener/config.env

[Install]
WantedBy=multi-user.target